* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif Bengali", serif;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #8356f329;
}

nav:nth-child(1) {
  padding: 15px 30px 0px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav:nth-child(1) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* border: 2px dashed #8d6ae7; */
}

nav:nth-child(1) > div > div {
  background-color: #8d6ae7;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

nav:nth-child(1) > div > div > a {
  margin: 5px;
  text-decoration: none;
  color: #8d6ae7;
  font-weight: 500;
  background-color: white;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 5px;
}

nav:nth-child(1) > div > div > a:hover {
  background-color: #8d6ae7;
  font-weight: 500;
  color: white;
  transition: 0.2s;
}
